<h3>Edit an Artist</h3>

    <%= form_for(@artist) do |form| %>
        <%= form.label :name %><br>
        <%= form.text_field :name %><br>
        <%= form.label :bio %><br>
        <%= form.text_field :bio %><br>
        <%= form.submit "Update Artist" %>
    <% end %>