<h1>Update Song</h1>

<%= form_for(@song) do |f| %>
  <label>Song Name:</label><br>
  <%= f.text_field :name, placeholder: @song.name%><br>
 
  <label>Genre:</label><br>
  <%= f.number_field :genre_id, placeholder: @my_genre.id %>
  
  
  <%# @genres.each do |genre|%>
    <%# f.radio_button :genre_id, genre.id, checked: (@my_genre == genre ) %> <%#= "#{genre.name}"%>  <br>
  <%#end%>

  <label>Artist:</label><br>
  <%= f.number_field :artist_id, placeholder: @my_artist.id %>
  
  
  
  <%# @artists.each do |artist|%>
    <%#f.radio_button :artist_id, artist.id, checked: (@my_artist == artist) %> <%#= #"#{artist.name}" %> <br>
  <%#end%>
  
  <%= f.submit %>
<% end %>